<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LijstOpvragen</servlet-name>
        <servlet-class>servlets.LijstOpvragen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatBoekSelecteren</servlet-name>
        <servlet-class>servlets.CatBoekSelecteren</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatBabySelecteren</servlet-name>
        <servlet-class>servlets.CatBabySelecteren</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatKlerenSelecteren</servlet-name>
        <servlet-class>servlets.CatKlerenSelecteren</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatSpeelgoedSelecteren</servlet-name>
        <servlet-class>servlets.CatSpeelgoedSelecteren</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZoekSpeelgoed</servlet-name>
        <servlet-class>servlets.ZoekSpeelgoed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZoekBoek</servlet-name>
        <servlet-class>servlets.ZoekBoek</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZoekBaby</servlet-name>
        <servlet-class>servlets.ZoekBaby</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZoekKleren</servlet-name>
        <servlet-class>servlets.ZoekKleren</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BoekDetail</servlet-name>
        <servlet-class>servlets.BoekDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpeelgoedDetail</servlet-name>
        <servlet-class>servlets.SpeelgoedDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KlerenDetail</servlet-name>
        <servlet-class>servlets.KlerenDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BabyDetail</servlet-name>
        <servlet-class>servlets.BabyDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZoekAlles</servlet-name>
        <servlet-class>servlets.ZoekAlles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersoonVerwijderen</servlet-name>
        <servlet-class>servlets.PersoonVerwijderen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersoonToevoegen</servlet-name>
        <servlet-class>servlets.PersoonToevoegen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersoonUpdaten</servlet-name>
        <servlet-class>servlets.PersoonUpdaten</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersoonUpdating</servlet-name>
        <servlet-class>servlets.PersoonUpdating</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BoekToevoegen</servlet-name>
        <servlet-class>servlets.BoekToevoegen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BabyToevoegen</servlet-name>
        <servlet-class>servlets.BabyToevoegen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KlerenToevoegen</servlet-name>
        <servlet-class>servlets.KlerenToevoegen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpeelgoedToevoegen</servlet-name>
        <servlet-class>servlets.SpeelgoedToevoegen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BoekVerwijderen</servlet-name>
        <servlet-class>servlets.BoekVerwijderen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginRequest</servlet-name>
        <servlet-class>servlets.LoginRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchrijfCookie</servlet-name>
        <servlet-class>servlets.SchrijfCookie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LijstOpvragen</servlet-name>
        <url-pattern>/LijstOpvragen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatBoekSelecteren</servlet-name>
        <url-pattern>/CatBoekSelecteren</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatBabySelecteren</servlet-name>
        <url-pattern>/CatBabySelecteren</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatKlerenSelecteren</servlet-name>
        <url-pattern>/CatKlerenSelecteren</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatSpeelgoedSelecteren</servlet-name>
        <url-pattern>/CatSpeelgoedSelecteren</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZoekSpeelgoed</servlet-name>
        <url-pattern>/ZoekSpeelgoed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZoekBoek</servlet-name>
        <url-pattern>/ZoekBoek</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZoekBaby</servlet-name>
        <url-pattern>/ZoekBaby</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZoekKleren</servlet-name>
        <url-pattern>/ZoekKleren</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BoekDetail</servlet-name>
        <url-pattern>/BoekDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpeelgoedDetail</servlet-name>
        <url-pattern>/SpeelgoedDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KlerenDetail</servlet-name>
        <url-pattern>/KlerenDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BabyDetail</servlet-name>
        <url-pattern>/BabyDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZoekAlles</servlet-name>
        <url-pattern>/ZoekAlles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersoonVerwijderen</servlet-name>
        <url-pattern>/PersoonVerwijderen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersoonToevoegen</servlet-name>
        <url-pattern>/PersoonToevoegen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersoonUpdaten</servlet-name>
        <url-pattern>/PersoonUpdaten</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersoonUpdating</servlet-name>
        <url-pattern>/PersoonUpdating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BoekToevoegen</servlet-name>
        <url-pattern>/BoekToevoegen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BabyToevoegen</servlet-name>
        <url-pattern>/BabyToevoegen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KlerenToevoegen</servlet-name>
        <url-pattern>/KlerenToevoegen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpeelgoedToevoegen</servlet-name>
        <url-pattern>/SpeelgoedToevoegen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BoekVerwijderen</servlet-name>
        <url-pattern>/BoekVerwijderen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginRequest</servlet-name>
        <url-pattern>/LoginRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchrijfCookie</servlet-name>
        <url-pattern>/SchrijfCookie</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
